version: "3.3"
    
services:
  db:
    image: mysql:latest
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: tpbb1
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: tpbb1
    
  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    volumes:
      - wordpress_data:/var/www/html
    ports:
      - "8080:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: tpbb1
      WORDPRESS_DB_NAME: wordpress
    
  phpmyadmin:
    image: phpmyadmin:latest
    volumes:
      - phpmyadmin_data:/var/www/html
    restart: always
        
volumes:
  db_data: {}
  wordpress_data: {}
  phpmyadmin_data: {}